# ================= ENV =================
.env

# ================= PYTHON =================
__pycache__/
*.pyc
*.pyo
*.pyd

# ================= VIRTUAL ENV =================
venv/
env/
.venv/

# ================= STREAMLIT =================
.streamlit/

# ================= LOGS =================
logs/
*.log

# ================= ML / MLFLOW =================
mlruns/
mlflow.db
mlartifacts/

# ================= JUPYTER =================
.ipynb_checkpoints/

# ================= SYSTEM =================
.DS_Store
Thumbs.db

# ================= IDE =================
.vscode/
.idea/

# ================= MODEL FILES (OPTIONNEL) =================
*.pkl
*.joblib